    body {
        font-family: 'Prata', serif;
    }
    
    img.food-img {
        padding: 50px;
        transition: transform .2s;
        width: 300px;
        height: 200px;
        margin: 0 auto;
    }
    
    iframe {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.021);
        transition: .5s ease;
        transform: translate(0, 0);
    }
    
    img.food-img:hover {
        opacity: 0.7;
        -ms-transform: scale(1.5);
        /* IE 9 */
        -webkit-transform: scale(1.5);
        /* Safari 3-8 */
        transform: scale(1.5);
        background-color: black;
    }
    
    iframe:hover {
        -ms-transform: scale(1.12);
        /* IE 9 */
        -webkit-transform: scale(1.12);
        /* Safari 3-8 */
        transform: scale(1.12);
        background-color: black;
    }
    
    .dine-out,
    .save-money {
        padding: 20px;
    }
    
    image.dine-out,
    image.save-money {
        margin-bottom: 100px;
    }
    
    footer {
        background: #343a40;
        color: wheat;
        font-size: 12px;
        padding: 20px 20px;
        text-align: center;
        border-radius: 4px;
    }
    
    .food_pic {
        width: 100%;
        height: 650px;
    }
    /* body {
    background: rgb(143, 70, 70);
    background: linear-gradient(90deg, rgba(143, 70, 70, 0.4248074229691877) 0%, rgba(128, 130, 38, 1) 100%);
} */
    
    .rounded-buttons {
        border-radius: 8px !important;
    }
    
    .rounded-circle {
        width: 90%;
        height: 200px;
        border-radius: 8px !important;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    .myMargin {
        margin: auto;
    }
    
    .contact-form {
        color: rgb(179, 104, 141);
        text-shadow: .5px .5px rgb(80, 51, 51);
        margin-top: 50px;
        margin-bottom: 30px;
        padding: 20px;
        box-shadow: 0px 0px 5px 3px rgb(165, 99, 99);
        background-image: url("../images/donuts.png");
    }
    
    hr {
        margin-right: 900px;
    }
    
    .btn-block {
        color: rgb(202, 152, 185);
        background: white;
        font-size: 18px;
    }
    
    .display-2 {
        text-shadow: 2px 2px #ff0000;
    }
    
    #run-search {
        color: rgb(29, 28, 28);
        background: white;
        font-size: 15px;
    }
    
    #navBrand {
        margin: 0px auto;
        position: relative;
        right: -150px;
    }
    
    @media screen and (max-width: 990px) {
        #navBrand {
            position: relative;
            right: 0;
        }
        #contact-form {
            width: 90%;
        }
    }
    /* @media screen and (min-width: 375px) {
        #contact-form {
            width: 100%;
        }
    } */