img.food-img {
    padding: 50px;
    transition: transform .2s;
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

img.food-img:hover {
    opacity: 0.7;
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
    background-color: black;
}