    img.food-img {
        padding: 50px;
        transition: transform .2s;
        width: 300px;
        height: 200px;
        margin: 0 auto;
    }
    
    iframe {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.021);
        transition: .5s ease;
        transform: translate(0, 0);
    }
    
    img.food-img:hover {
        opacity: 0.7;
        -ms-transform: scale(1.5);
        /* IE 9 */
        -webkit-transform: scale(1.5);
        /* Safari 3-8 */
        transform: scale(1.5);
        background-color: black;
    }